In [203]:
from divegame import diveGame, zeroBoard
import pickle
from fatal_flaw import fatalFlaw, getActions
import pdb
from softmaxExplain import findStates2
from datetime import datetime
import random
import pandas
from experiment import reconstructStates
import numpy as np
import math

In [204]:
highestPossible

310

In [205]:
f = open("Test State Q values", 'rb')
qvalues = pickle.load(f)
datas = []

In [206]:
vvalues = {}
for state, action in qvalues:
    if state not in vvalues:
        vvalues[state] = qvalues[(state, action)]
    else:
        vvalues[state] = max(qvalues[(state, action)], vvalues[state])

def process(name, expgroup):
    f = open("playdata/" + name, "rb")
    f2 = open("playdata/" + name + "2", "rb")
    data = pickle.load(f)
    mistakeIndex = data['FatalFlawData'][6]
    mistakeState = data['playthrough'][1][0][mistakeIndex]
    mistakeAction = data['playthrough'][1][1][mistakeIndex]
    
    
    d = {}
    
    d['initial score'] = data['playthrough'][-1][0][-1].cash
    initialFraction = d['initial score'] / highestPossible
    data2 = pickle.load(f2)
    d['initialFraction'] = initialFraction
    d['name'] = name
    d['experiment group'] = expgroup
    d['mistake type'] = data['FatalFlawData'][-1]
    d['group'] = data['group']
    testStates = reconstructStates(pickle.load(open("group" + str(data['group'])+ "States", "rb")))
    total = 0
    for i in range(len(testStates)):
        for j in range(len(testStates)):
            if testStates[i] == data['testStates'][j][0]:
                d[i + 1] = qvalues[(data['testStates'][j][0], data['testStates'][j][1])] / vvalues[data['testStates'][j][0]]
                if name == "raymond":
                    d[5] = 1
                total += d[i + 1]
    testStates = reconstructStates(pickle.load(open("General Test States", "rb")))
    for i in range(6, 12):
        for j in range(6):
            if testStates[i - 6] == data2['testStates'][j][0]:
                d[i + 1] = qvalues[(data2['testStates'][j][0], data2['testStates'][j][1])] / vvalues[data2['testStates'][j][0]]
                #total += d[i + 1]               
                delta = (d[i + 1] - initialFraction) / (1 - initialFraction)
            
            
            
    time = 0
    for i in data['testStatesTimes'][0:1]:
        time += i.total_seconds()
    
#     for i in data2['testStatesTimes'][1:]:
#         time += i.total_seconds()
    d['time'] = time
    d['total'] = total
    datas.append(d)

    
    

process("calvin", "short explanation")
process("raymond", "short explanation")
process("kenneth", "short explanation")
process("sam", "short explanation")
process("stanley", "short explanation")
process("arvin", "short explanation")
process("hong", "short explanation")



process("aayush", "long explanation")
process("karthik", "long explanation")
process("nadir", "long explanation")
#process("rustie", "long explanation")
process("andy", "long explanation")
process("gokul", "long explanation")


process("jonny", "no explanation")
process("alex", "no explanation")
process("ket", "no explanation")
process("charlie", "no explanation")
process("aakash", "no explanation")
process("neel", "no explanation")
process("kartik", "no explanation")
process("sera", "no explanation")

df = pandas.DataFrame(datas)

In [207]:
print(math.pow(np.var(df['total'].values), 0.5))
print(df['delta'].values)
df
#7 & 8 is group 1
#9 & 10 group 2
#11 & 12 group 3

0.6284221010243205
[0.95215929 1.         0.59179077 0.9405592  0.88657063 0.95439835
 0.81432701 0.82747798 1.         0.6678083  0.84126671 0.92385579
 0.78956255 0.83162483 0.6374069  0.43776817 0.88127029 0.88707872
 0.77259953 0.86392243]

,experiment group,group,initial score,initialFraction,mistake type,name,1,2,3,4,...,6,7,8,9,10,11,12,time,total,delta
0,short explanation,1,0,0.000000,CorrectionType.J,calvin,1.000000,1.000000,1.000000,1.000000,...,0.958005,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,69.214932,5.712956,0.952159
1,short explanation,1,258,0.832258,CorrectionType.J,raymond,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.685649,1.000000,1.000000,1.000000,0.847291,1.000000,523.042596,6.000000,1.000000
2,short explanation,1,0,0.000000,CorrectionType.J,kenneth,1.000000,0.760331,1.000000,0.490909,...,0.000000,0.685649,1.000000,1.000000,0.902314,0.847291,0.838337,60.291821,3.550745,0.591791
3,short explanation,1,97,0.312903,CorrectionType.B,sam,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,86.364463,5.754950,0.940559
4,short explanation,3,88,0.283871,CorrectionType.I,stanley,0.870423,0.866953,0.775244,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,164.863332,5.512620,0.886571
5,short explanation,2,222,0.716129,CorrectionType.E,arvin,1.000000,1.000000,1.000000,1.000000,...,0.922330,1.000000,0.654545,1.000000,0.845758,0.640394,0.937644,131.997473,5.922330,0.954398
6,short explanation,1,0,0.000000,CorrectionType.A,hong,1.000000,1.000000,0.653226,0.490909,...,0.986877,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,135.510501,4.885962,0.814327
7,long explanation,1,0,0.000000,CorrectionType.A,aayush,1.000000,0.760331,1.000000,0.449587,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.640394,1.000000,73.338978,4.964868,0.827478
8,long explanation,2,222,0.716129,CorrectionType.E,karthik,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,0.654545,1.000000,1.000000,0.847291,1.000000,133.824328,6.000000,1.000000
9,long explanation,2,222,0.716129,CorrectionType.E,nadir,1.000000,0.898305,1.000000,0.535897,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,62.492448,5.434203,0.667808
10,long explanation,1,0,0.000000,CorrectionType.J,andy,1.000000,1.000000,0.653226,0.490909,...,1.000000,0.685649,0.542424,0.865429,1.000000,0.847291,0.789838,96.414754,5.047600,0.841267
11,long explanation,1,0,0.000000,CorrectionType.A,gokul,1.000000,1.000000,1.000000,0.639669,...,1.000000,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,90.220530,5.543135,0.923856
12,no explanation,3,0,0.000000,CorrectionType.K,jonny,0.870423,0.866953,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.937644,63.751530,4.737375,0.789563
13,no explanation,1,0,0.000000,CorrectionType.A,alex,1.000000,0.793388,0.653226,0.639669,...,1.000000,0.685649,0.542424,1.000000,1.000000,1.000000,0.789838,79.025428,4.989749,0.831625
14,no explanation,2,222,0.716129,CorrectionType.E,ket,1.000000,1.000000,0.673684,1.000000,...,1.000000,0.685649,1.000000,1.000000,0.845758,0.561576,1.000000,166.468793,5.382422,0.637407
15,no explanation,2,119,0.383871,CorrectionType.D,charlie,0.606771,0.898305,1.000000,0.435897,...,0.980583,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,139.345962,3.921556,0.437768
16,no explanation,2,139,0.448387,CorrectionType.E,aakash,1.000000,0.898305,1.000000,1.000000,...,1.000000,0.478360,1.000000,1.000000,1.000000,1.000000,1.000000,66.964441,5.607043,0.881270
17,no explanation,1,0,0.000000,CorrectionType.A,neel,1.000000,1.000000,0.580645,1.000000,...,0.986877,0.685649,1.000000,1.000000,0.902314,0.847291,1.000000,163.029435,5.322472,0.887079
18,no explanation,1,118,0.380645,CorrectionType.B,kartik,1.000000,0.760331,1.000000,0.639669,...,1.000000,0.000000,1.000000,0.865429,1.000000,0.561576,0.789838,54.025727,5.154950,0.772600
19,no explanation,2,222,0.716129,CorrectionType.E,sera,0.768229,1.000000,1.000000,1.000000,...,1.000000,0.685649,1.000000,1.000000,0.902314,0.640394,1.000000,66.757831,5.768229,0.863922

In [208]:
group1 = df[(df['group'] == 1)][['name', 'experiment group', 'initial score', 'delta', 1, 2, 3, 4, 5, 6]]
group1['sum'] = group1.iloc[:, 4:].sum(axis = 1)
print(group1['delta'].values)
print(np.mean(group1['sum'].values))
group1

[0.95215929 1.         0.59179077 0.9405592  0.81432701 0.82747798
 0.84126671 0.92385579 0.83162483 0.88707872 0.77259953]
5.175217050051253

,name,experiment group,initial score,delta,1,2,3,4,5,6,sum
0,calvin,short explanation,0,0.952159,1.0,1.000000,1.000000,1.000000,0.754950,0.958005,5.712956
1,raymond,short explanation,258,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000
2,kenneth,short explanation,0,0.591791,1.0,0.760331,1.000000,0.490909,0.299505,0.000000,3.550745
3,sam,short explanation,97,0.940559,1.0,1.000000,1.000000,1.000000,0.754950,1.000000,5.754950
6,hong,short explanation,0,0.814327,1.0,1.000000,0.653226,0.490909,0.754950,0.986877,4.885962
7,aayush,long explanation,0,0.827478,1.0,0.760331,1.000000,0.449587,0.754950,1.000000,4.964868
10,andy,long explanation,0,0.841267,1.0,1.000000,0.653226,0.490909,0.903465,1.000000,5.047600
11,gokul,long explanation,0,0.923856,1.0,1.000000,1.000000,0.639669,0.903465,1.000000,5.543135
13,alex,no explanation,0,0.831625,1.0,0.793388,0.653226,0.639669,0.903465,1.000000,4.989749
17,neel,no explanation,0,0.887079,1.0,1.000000,0.580645,1.000000,0.754950,0.986877,5.322472
18,kartik,no explanation,118,0.772600,1.0,0.760331,1.000000,0.639669,0.754950,1.000000,5.154950

In [146]:
group2 = df[(df['group'] == 2)][['name', 'experiment group', 'initial score', 'delta', 1, 2, 3, 4, 5, 6]]
group2['sum'] = group2.iloc[:, 4:].sum(axis = 1)
group2

,name,experiment group,initial score,delta,1,2,3,4,5,6,sum
4,arvin,short explanation,222,0.954398,1.000000,1.000000,1.000000,1.000000,1.000000,0.922330,5.922330
7,karthik,long explanation,222,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000
8,nadir,long explanation,222,0.667808,1.000000,0.898305,1.000000,0.535897,1.000000,1.000000,5.434203
13,ket,no explanation,222,0.637407,1.000000,1.000000,0.673684,1.000000,0.708738,1.000000,5.382422
14,charlie,no explanation,119,0.437768,0.606771,0.898305,1.000000,0.435897,0.000000,0.980583,3.921556
15,aakash,no explanation,139,0.881270,1.000000,0.898305,1.000000,1.000000,0.708738,1.000000,5.607043
18,sera,no explanation,222,0.863922,0.768229,1.000000,1.000000,1.000000,1.000000,1.000000,5.768229

In [147]:
group3 = df[(df['group'] == 3)][['name', 'experiment group', 'initial score', 'delta', 1, 2, 3, 4, 5, 6]]
group3['sum'] = group3.iloc[:, 4:].sum(axis = 1)
group3

,name,experiment group,initial score,delta,1,2,3,4,5,6,sum
3,stanley,short explanation,88,0.886571,0.870423,0.866953,0.775244,1.0,1.0,1.0,5.512620
11,jonny,no explanation,0,0.789563,0.870423,0.866953,1.000000,0.0,1.0,1.0,4.737375

In [82]:
initial = df[['name', 'experiment group', 'initial score']]
initial

       name   experiment group  initial score
0    calvin  short explanation              0
1   raymond  short explanation            258
2   kenneth  short explanation              0
3       sam  short explanation             97
4   stanley  short explanation             88
5     arvin  short explanation            222
6    aayush   long explanation              0
7   karthik   long explanation            222
8     nadir   long explanation            222
9    rustie   long explanation              0
10     andy   long explanation              0
11    jonny     no explanation              0
12     alex     no explanation              0
13      ket     no explanation            222
14  charlie     no explanation            119
15   aakash     no explanation            139
16     neel     no explanation              0
17   kartik     no explanation            118
18     sera     no explanation            222

In [84]:
#0 0 0 118 119 139 222 222    118.5
#0 0 0 0 0 88 97 222 222 222 258  88

In [116]:
explained1 = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 6, 7]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 6, 7]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

       name   experiment group         6         7       sum
9    rustie   long explanation  0.000000  0.000000  0.000000
2   kenneth  short explanation  0.000000  0.685649  0.685649
1   raymond  short explanation  1.000000  0.685649  1.685649
3       sam  short explanation  1.000000  0.685649  1.685649
10     andy   long explanation  1.000000  0.685649  1.685649
0    calvin  short explanation  0.958005  1.000000  1.958005
6    aayush   long explanation  1.000000  1.000000  2.000000
       name experiment group         6         7       sum
17   kartik   no explanation  1.000000  0.000000  1.000000
15   aakash   no explanation  1.000000  0.478360  1.478360
14  charlie   no explanation  0.980583  0.685649  1.666232
16     neel   no explanation  0.986877  0.685649  1.672526
12     alex   no explanation  1.000000  0.685649  1.685649
13      ket   no explanation  1.000000  0.685649  1.685649
18     sera   no explanation  1.000000  0.685649  1.685649
11    jonny   no explanation  1.000000  1.000000  2.000000

In [117]:
explained1 = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 8, 9]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 8, 9]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

      name   experiment group         8    9       sum
5    arvin  short explanation  0.654545  1.0  1.654545
7  karthik   long explanation  0.654545  1.0  1.654545
8    nadir   long explanation  1.000000  1.0  2.000000
       name experiment group         8         9       sum
12     alex   no explanation  0.542424  1.000000  1.542424
17   kartik   no explanation  1.000000  0.865429  1.865429
11    jonny   no explanation  1.000000  1.000000  2.000000
13      ket   no explanation  1.000000  1.000000  2.000000
14  charlie   no explanation  1.000000  1.000000  2.000000
15   aakash   no explanation  1.000000  1.000000  2.000000
16     neel   no explanation  1.000000  1.000000  2.000000
18     sera   no explanation  1.000000  1.000000  2.000000

In [118]:
explained1 = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 10, 11]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 10, 11]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

      name   experiment group   10   11  sum
4  stanley  short explanation  1.0  1.0  2.0
       name experiment group        10        11       sum
13      ket   no explanation  0.845758  0.561576  1.407335
18     sera   no explanation  0.902314  0.640394  1.542708
17   kartik   no explanation  1.000000  0.561576  1.561576
14  charlie   no explanation  1.000000  0.640394  1.640394
16     neel   no explanation  0.902314  0.847291  1.749604
11    jonny   no explanation  1.000000  1.000000  2.000000
12     alex   no explanation  1.000000  1.000000  2.000000
15   aakash   no explanation  1.000000  1.000000  2.000000

In [126]:
short = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 1) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

      name   experiment group    1         2    3         4         5  \
2  kenneth  short explanation  1.0  0.760331  1.0  0.490909  0.299505
1  raymond  short explanation  1.0  1.000000  1.0  1.000000  0.299505
0   calvin  short explanation  1.0  1.000000  1.0  1.000000  0.754950
3      sam  short explanation  1.0  1.000000  1.0  1.000000  0.754950

          6       sum
2  0.000000  3.550745
1  1.000000  5.299505
0  0.958005  5.712956
3  1.000000  5.754950
      name  experiment group    1         2         3         4         5  \
9   rustie  long explanation  0.0  0.000000  0.000000  0.000000  0.000000
6   aayush  long explanation  1.0  0.760331  1.000000  0.449587  0.754950
10    andy  long explanation  1.0  1.000000  0.653226  0.490909  0.903465

      6       sum
9   0.0  0.000000
6   1.0  4.964868
10  1.0  5.047600

In [127]:
short = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 2) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

    name   experiment group    1    2    3    4    5        6      sum
5  arvin  short explanation  1.0  1.0  1.0  1.0  1.0  0.92233  5.92233
      name  experiment group    1         2    3         4    5    6       sum
8    nadir  long explanation  1.0  0.898305  1.0  0.535897  1.0  1.0  5.434203
7  karthik  long explanation  1.0  1.000000  1.0  1.000000  1.0  1.0  6.000000

In [128]:
short = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 3) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

      name   experiment group         1         2         3    4    5    6  \
4  stanley  short explanation  0.870423  0.866953  0.775244  1.0  1.0  1.0

       sum
4  5.51262
Empty DataFrame
Columns: [name, experiment group, 1, 2, 3, 4, 5, 6, sum]
Index: []

In [132]:
temp = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 7, 8]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 7, 8]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

       name  group   experiment group         7         8       sum
9    rustie      1   long explanation  0.000000  0.000000  0.000000
10     andy      1   long explanation  0.685649  0.542424  1.228073
1   raymond      1  short explanation  0.685649  1.000000  1.685649
2   kenneth      1  short explanation  0.685649  1.000000  1.685649
3       sam      1  short explanation  0.685649  1.000000  1.685649
0    calvin      1  short explanation  1.000000  1.000000  2.000000
6    aayush      1   long explanation  1.000000  1.000000  2.000000
      name  group   experiment group    7         8       sum
7  karthik      2   long explanation  0.0  0.654545  0.654545
5    arvin      2  short explanation  1.0  0.654545  1.654545
4  stanley      3  short explanation  1.0  1.000000  2.000000
8    nadir      2   long explanation  1.0  1.000000  2.000000

In [133]:
temp = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 9, 10]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 9, 10]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

      name  group   experiment group    9        10       sum
5    arvin      2  short explanation  1.0  0.845758  1.845758
7  karthik      2   long explanation  1.0  1.000000  2.000000
8    nadir      2   long explanation  1.0  1.000000  2.000000
       name  group   experiment group         9        10       sum
9    rustie      1   long explanation  0.000000  0.000000  0.000000
10     andy      1   long explanation  0.865429  1.000000  1.865429
2   kenneth      1  short explanation  1.000000  0.902314  1.902314
0    calvin      1  short explanation  1.000000  1.000000  2.000000
1   raymond      1  short explanation  1.000000  1.000000  2.000000
3       sam      1  short explanation  1.000000  1.000000  2.000000
4   stanley      3  short explanation  1.000000  1.000000  2.000000
6    aayush      1   long explanation  1.000000  1.000000  2.000000

In [134]:
temp = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 11, 12]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 11, 12]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

      name  group   experiment group   11   12  sum
4  stanley      3  short explanation  1.0  1.0  2.0
       name  group   experiment group        11        12       sum
3       sam      1  short explanation  0.640394  0.937644  1.578038
5     arvin      2  short explanation  0.640394  0.937644  1.578038
10     andy      1   long explanation  0.847291  0.789838  1.637129
6    aayush      1   long explanation  0.640394  1.000000  1.640394
2   kenneth      1  short explanation  0.847291  0.838337  1.685628
9    rustie      1   long explanation  0.847291  0.937644  1.784935
0    calvin      1  short explanation  0.847291  1.000000  1.847291
1   raymond      1  short explanation  0.847291  1.000000  1.847291
7   karthik      2   long explanation  0.847291  1.000000  1.847291
8     nadir      2   long explanation  0.847291  1.000000  1.847291

In [20]:
group1 = df[['name', 'experiment group', 'initial score', 7, 8, 9, 10, 11, 12]]
group1['sum'] = group1.iloc[:, 3:].sum(axis = 1)
print(group1['sum'].values)
group1

[5.84729064 5.53293984 5.27359065 5.26368763 6.         5.07834224
 5.26368763 5.64039409 4.50183609 5.84729064 1.78493498 4.73063166
 5.32604329 5.93764434 5.01791178 5.09298391 5.32604329 5.47835991
 5.43525347 4.21684393 5.22835692]

C:\Users\Sherman Luo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,experiment group,initial score,7,8,9,10,11,12,sum
0,calvin,short explanation,0,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,5.847291
1,raymond,short explanation,258,0.685649,1.000000,1.000000,1.000000,0.847291,1.000000,5.532940
2,kenneth,short explanation,0,0.685649,1.000000,1.000000,0.902314,0.847291,0.838337,5.273591
3,sam,short explanation,97,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,5.263688
4,stanley,short explanation,88,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000
5,arvin,short explanation,222,1.000000,0.654545,1.000000,0.845758,0.640394,0.937644,5.078342
6,hong,short explanation,0,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,5.263688
7,aayush,long explanation,0,1.000000,1.000000,1.000000,1.000000,0.640394,1.000000,5.640394
8,karthik,long explanation,222,0.000000,0.654545,1.000000,1.000000,0.847291,1.000000,4.501836
9,nadir,long explanation,222,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,5.847291
10,rustie,long explanation,0,0.000000,0.000000,0.000000,0.000000,0.847291,0.937644,1.784935
11,andy,long explanation,0,0.685649,0.542424,0.865429,1.000000,0.847291,0.789838,4.730632
12,gokul,long explanation,0,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,5.326043
13,jonny,no explanation,0,1.000000,1.000000,1.000000,1.000000,1.000000,0.937644,5.937644
14,alex,no explanation,0,0.685649,0.542424,1.000000,1.000000,1.000000,0.789838,5.017912
15,ket,no explanation,222,0.685649,1.000000,1.000000,0.845758,0.561576,1.000000,5.092984
16,charlie,no explanation,119,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,5.326043
17,aakash,no explanation,139,0.478360,1.000000,1.000000,1.000000,1.000000,1.000000,5.478360
18,neel,no explanation,0,0.685649,1.000000,1.000000,0.902314,0.847291,1.000000,5.435253
19,kartik,no explanation,118,0.000000,1.000000,0.865429,1.000000,0.561576,0.789838,4.216844
20,sera,no explanation,222,0.685649,1.000000,1.000000,0.902314,0.640394,1.000000,5.228357