In [20]:
from divegame import diveGame, zeroBoard
import pickle
from fatal_flaw import fatalFlaw, getActions
import pdb
from softmaxExplain import findStates2
from datetime import datetime
import random
import pandas
from experiment import reconstructStates
import numpy as np
import math
from categorize import categorize, CorrectionType

In [5]:
highestPossible = 310

In [6]:
f = open("Test State Q values", 'rb')
qvalues = pickle.load(f)
datas = []

In [7]:
vvalues = {}
for state, action in qvalues:
    if state not in vvalues:
        vvalues[state] = qvalues[(state, action)]
    else:
        vvalues[state] = max(qvalues[(state, action)], vvalues[state])

def process(name, expgroup):
    f = open("playdata/" + name, "rb")
    f2 = open("playdata/" + name + "2", "rb")
    data = pickle.load(f)
    mistakeIndex = data['FatalFlawData'][6]
    mistakeState = data['playthrough'][1][0][mistakeIndex]
    mistakeAction = data['playthrough'][1][1][mistakeIndex]
    
    
    d = {}
    
    d['initial score'] = data['playthrough'][-1][0][-1].cash
    initialFraction = d['initial score'] / highestPossible
    data2 = pickle.load(f2)
    d['initialFraction'] = initialFraction
    d['name'] = name
    d['experiment group'] = expgroup
    d['mistake type'] = data['FatalFlawData'][-1]
    d['group'] = data['group']
    testStates = reconstructStates(pickle.load(open("group" + str(data['group'])+ "States", "rb")))
    total = 0
    for i in range(len(testStates)):
        for j in range(len(testStates)):
            if testStates[i] == data['testStates'][j][0]:
                d[i + 1] = qvalues[(data['testStates'][j][0], data['testStates'][j][1])] \
                         / vvalues[data['testStates'][j][0]]
                if name == "raymond":
                    d[5 + 1] = 1
                #total += d[i + 1]
    testStates = reconstructStates(pickle.load(open("General Test States", "rb")))
    for i in range(6, 12):
        for j in range(6):
            if testStates[i - 6] == data2['testStates'][j][0]:
                d[i + 1] = qvalues[(data2['testStates'][j][0], data2['testStates'][j][1])] \
                          / vvalues[data2['testStates'][j][0]]
                total += d[i + 1]
                    
    time = 0
    for i in data['testStatesTimes']:
        time += i.total_seconds()
    
    for i in data2['testStatesTimes']:
        time += i.total_seconds()
    d['time'] = time
    d['total'] = total
    datas.append(d)

    
    

process("calvin", "short explanation")
process("raymond", "short explanation")
process("kenneth", "short explanation")
process("sam", "short explanation")
process("stanley", "short explanation")
process("arvin", "short explanation")
process("hong", "short explanation")



process("aayush", "long explanation")
process("karthik", "long explanation")
process("nadir", "long explanation")
process("rustie", "long explanation")
process("andy", "long explanation")
process("gokul", "long explanation")


process("jonny", "no explanation")
process("alex", "no explanation")
process("ket", "no explanation")
process("charlie", "no explanation")
process("aakash", "no explanation")
process("neel", "no explanation")
process("kartik", "no explanation")
process("sera", "no explanation")
process("jinsu", "no explanation")


df = pandas.DataFrame(datas)

In [8]:
df
print(math.sqrt(np.var(df['total'].values)))
print(np.mean(df['total'].values))
#7 & 8 is group 1
#9 & 10 group 2
#11 & 12 group 3
df

0.8606838097195044
5.166879890077954

,experiment group,group,initial score,initialFraction,mistake type,name,1,2,3,4,5,6,7,8,9,10,11,12,time,total
0,short explanation,1,0,0.000000,CorrectionType.J,calvin,1.000000,1.000000,1.000000,1.000000,0.754950,0.958005,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,1152.609880,5.847291
1,short explanation,1,258,0.832258,CorrectionType.J,raymond,1.000000,1.000000,1.000000,1.000000,0.299505,1.000000,0.685649,1.000000,1.000000,1.000000,0.847291,1.000000,1246.503988,5.532940
2,short explanation,1,0,0.000000,CorrectionType.J,kenneth,1.000000,0.760331,1.000000,0.490909,0.299505,0.000000,0.685649,1.000000,1.000000,0.902314,0.847291,0.838337,298.609673,5.273591
3,short explanation,1,97,0.312903,CorrectionType.B,sam,1.000000,1.000000,1.000000,1.000000,0.754950,1.000000,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,422.562166,5.263688
4,short explanation,3,88,0.283871,CorrectionType.I,stanley,0.870423,0.866953,0.775244,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,952.744304,6.000000
5,short explanation,2,222,0.716129,CorrectionType.E,arvin,1.000000,1.000000,1.000000,1.000000,1.000000,0.922330,1.000000,0.654545,1.000000,0.845758,0.640394,0.937644,1064.921354,5.078342
6,short explanation,1,0,0.000000,CorrectionType.A,hong,1.000000,1.000000,0.653226,0.490909,0.754950,0.986877,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,1131.997097,5.263688
7,long explanation,1,0,0.000000,CorrectionType.A,aayush,1.000000,0.760331,1.000000,0.449587,0.754950,1.000000,1.000000,1.000000,1.000000,1.000000,0.640394,1.000000,714.216283,5.640394
8,long explanation,2,222,0.716129,CorrectionType.E,karthik,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.654545,1.000000,1.000000,0.847291,1.000000,834.866571,4.501836
9,long explanation,2,222,0.716129,CorrectionType.E,nadir,1.000000,0.898305,1.000000,0.535897,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,561.681458,5.847291
10,long explanation,1,0,0.000000,CorrectionType.B,rustie,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.847291,0.937644,207.155226,1.784935
11,long explanation,1,0,0.000000,CorrectionType.J,andy,1.000000,1.000000,0.653226,0.490909,0.903465,1.000000,0.685649,0.542424,0.865429,1.000000,0.847291,0.789838,566.611813,4.730632
12,long explanation,1,0,0.000000,CorrectionType.A,gokul,1.000000,1.000000,1.000000,0.639669,0.903465,1.000000,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,514.068334,5.326043
13,no explanation,3,0,0.000000,CorrectionType.K,jonny,0.870423,0.866953,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.937644,245.761915,5.937644
14,no explanation,1,0,0.000000,CorrectionType.A,alex,1.000000,0.793388,0.653226,0.639669,0.903465,1.000000,0.685649,0.542424,1.000000,1.000000,1.000000,0.789838,509.101066,5.017912
15,no explanation,2,222,0.716129,CorrectionType.E,ket,1.000000,1.000000,0.673684,1.000000,0.708738,1.000000,0.685649,1.000000,1.000000,0.845758,0.561576,1.000000,1194.045790,5.092984
16,no explanation,2,119,0.383871,CorrectionType.D,charlie,0.606771,0.898305,1.000000,0.435897,0.000000,0.980583,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,839.250719,5.326043
17,no explanation,2,139,0.448387,CorrectionType.E,aakash,1.000000,0.898305,1.000000,1.000000,0.708738,1.000000,0.478360,1.000000,1.000000,1.000000,1.000000,1.000000,694.424163,5.478360
18,no explanation,1,0,0.000000,CorrectionType.A,neel,1.000000,1.000000,0.580645,1.000000,0.754950,0.986877,0.685649,1.000000,1.000000,0.902314,0.847291,1.000000,828.125143,5.435253
19,no explanation,1,118,0.380645,CorrectionType.B,kartik,1.000000,0.760331,1.000000,0.639669,0.754950,1.000000,0.000000,1.000000,0.865429,1.000000,0.561576,0.789838,366.590822,4.216844
20,no explanation,2,222,0.716129,CorrectionType.E,sera,0.768229,1.000000,1.000000,1.000000,1.000000,1.000000,0.685649,1.000000,1.000000,0.902314,0.640394,1.000000,506.822705,5.228357
21,no explanation,2,88,0.283871,CorrectionType.E,jinsu,1.000000,0.576271,1.000000,0.535897,0.708738,1.000000,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,796.695121,5.847291

In [9]:
group1 = df[(df['group'] == 1)][['name', 'experiment group', 'initial score', 1, 2, 3, 4, 5, 6, 7, 8]]
group1['sum'] = group1.iloc[:, 3:].sum(axis = 1)

print(math.sqrt(np.var(group1['sum'].values)))
print(np.mean(group1['sum'].values))

group1

1.9626824212872964
6.149744550647932

,name,experiment group,initial score,1,2,3,4,5,6,7,8,sum
0,calvin,short explanation,0,1.0,1.000000,1.000000,1.000000,0.754950,0.958005,1.000000,1.000000,7.712956
1,raymond,short explanation,258,1.0,1.000000,1.000000,1.000000,0.299505,1.000000,0.685649,1.000000,6.985154
2,kenneth,short explanation,0,1.0,0.760331,1.000000,0.490909,0.299505,0.000000,0.685649,1.000000,5.236394
3,sam,short explanation,97,1.0,1.000000,1.000000,1.000000,0.754950,1.000000,0.685649,1.000000,7.440600
6,hong,short explanation,0,1.0,1.000000,0.653226,0.490909,0.754950,0.986877,0.685649,1.000000,6.571611
7,aayush,long explanation,0,1.0,0.760331,1.000000,0.449587,0.754950,1.000000,1.000000,1.000000,6.964868
10,rustie,long explanation,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,andy,long explanation,0,1.0,1.000000,0.653226,0.490909,0.903465,1.000000,0.685649,0.542424,6.275674
12,gokul,long explanation,0,1.0,1.000000,1.000000,0.639669,0.903465,1.000000,0.685649,1.000000,7.228784
14,alex,no explanation,0,1.0,0.793388,0.653226,0.639669,0.903465,1.000000,0.685649,0.542424,6.217822
18,neel,no explanation,0,1.0,1.000000,0.580645,1.000000,0.754950,0.986877,0.685649,1.000000,7.008121
19,kartik,no explanation,118,1.0,0.760331,1.000000,0.639669,0.754950,1.000000,0.000000,1.000000,6.154950

In [10]:
group2 = df[(df['group'] == 2)][['name', 'experiment group', 'initial score', 1, 2, 3, 4, 5, 6, 9, 10]]
group2['sum'] = group2.iloc[:, 3:].sum(axis = 1)
group2

,name,experiment group,initial score,1,2,3,4,5,6,9,10,sum
5,arvin,short explanation,222,1.000000,1.000000,1.000000,1.000000,1.000000,0.922330,1.0,0.845758,7.768088
8,karthik,long explanation,222,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,8.000000
9,nadir,long explanation,222,1.000000,0.898305,1.000000,0.535897,1.000000,1.000000,1.0,1.000000,7.434203
15,ket,no explanation,222,1.000000,1.000000,0.673684,1.000000,0.708738,1.000000,1.0,0.845758,7.228180
16,charlie,no explanation,119,0.606771,0.898305,1.000000,0.435897,0.000000,0.980583,1.0,1.000000,5.921556
17,aakash,no explanation,139,1.000000,0.898305,1.000000,1.000000,0.708738,1.000000,1.0,1.000000,7.607043
20,sera,no explanation,222,0.768229,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.902314,7.670543
21,jinsu,no explanation,88,1.000000,0.576271,1.000000,0.535897,0.708738,1.000000,1.0,1.000000,6.820906

In [11]:
group3 = df[(df['group'] == 3)][['name', 'experiment group', 'initial score', 'delta', 1, 2, 3, 4, 5, 6]]
group3['sum'] = group3.iloc[:, 4:].sum(axis = 1)
group3

KeyError: "['delta'] not in index"

In [ ]:
initial = df[['name', 'experiment group', 'initial score']]
initial

In [ ]:
#0 0 0 118 119 139 222 222    118.5
#0 0 0 0 0 88 97 222 222 222 258  88

In [ ]:
explained1 = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 7, 8]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 7, 8]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

In [ ]:
explained1 = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 9, 10]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 9, 10]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

In [ ]:
explained1 = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'experiment group', 11, 12]]
explained1['sum'] = explained1.iloc[:, 2:].sum(axis = 1)
print(explained1.sort_values(by=['sum']))
unexplained1 = df[((df['experiment group'] == 'no explanation') \
                                     )][['name', 'experiment group', 11, 12]]
unexplained1['sum'] = unexplained1.iloc[:, 2:].sum(axis = 1)
print(unexplained1.sort_values(['sum']))

In [12]:
short = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 1) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

      name   experiment group    1         2         3         4         5  \
2  kenneth  short explanation  1.0  0.760331  1.000000  0.490909  0.299505
6     hong  short explanation  1.0  1.000000  0.653226  0.490909  0.754950
1  raymond  short explanation  1.0  1.000000  1.000000  1.000000  0.299505
0   calvin  short explanation  1.0  1.000000  1.000000  1.000000  0.754950
3      sam  short explanation  1.0  1.000000  1.000000  1.000000  0.754950

          6       sum
2  0.000000  3.550745
6  0.986877  4.885962
1  1.000000  5.299505
0  0.958005  5.712956
3  1.000000  5.754950
      name  experiment group    1         2         3         4         5  \
10  rustie  long explanation  0.0  0.000000  0.000000  0.000000  0.000000
7   aayush  long explanation  1.0  0.760331  1.000000  0.449587  0.754950
11    andy  long explanation  1.0  1.000000  0.653226  0.490909  0.903465
12   gokul  long explanation  1.0  1.000000  1.000000  0.639669  0.903465

      6       sum
10  0.0  0.000000
7   1.0  4.964868
11  1.0  5.047600
12  1.0  5.543135

In [13]:
short = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 2) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

    name   experiment group    1    2    3    4    5        6      sum
5  arvin  short explanation  1.0  1.0  1.0  1.0  1.0  0.92233  5.92233
      name  experiment group    1         2    3         4    5    6       sum
9    nadir  long explanation  1.0  0.898305  1.0  0.535897  1.0  1.0  5.434203
8  karthik  long explanation  1.0  1.000000  1.0  1.000000  1.0  1.0  6.000000

In [14]:
short = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
short['sum'] = short.iloc[:, :].sum(axis = 1)
print(short.sort_values(by=['sum']))
                                      
long = df[(df['group'] == 3) & ((df['experiment group'] == 'long explanation'))][['name', 'experiment group', 1,2,3,4,5,6]]
long['sum'] = long.iloc[:, :].sum(axis = 1)
print(long.sort_values(by=['sum']))

      name   experiment group         1         2         3    4    5    6  \
4  stanley  short explanation  0.870423  0.866953  0.775244  1.0  1.0  1.0

       sum
4  5.51262
Empty DataFrame
Columns: [name, experiment group, 1, 2, 3, 4, 5, 6, sum]
Index: []

In [15]:
temp = df[(df['group'] == 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 7, 8]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 1) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 7, 8]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

       name  group   experiment group         7         8       sum
10   rustie      1   long explanation  0.000000  0.000000  0.000000
11     andy      1   long explanation  0.685649  0.542424  1.228073
1   raymond      1  short explanation  0.685649  1.000000  1.685649
2   kenneth      1  short explanation  0.685649  1.000000  1.685649
3       sam      1  short explanation  0.685649  1.000000  1.685649
6      hong      1  short explanation  0.685649  1.000000  1.685649
12    gokul      1   long explanation  0.685649  1.000000  1.685649
0    calvin      1  short explanation  1.000000  1.000000  2.000000
7    aayush      1   long explanation  1.000000  1.000000  2.000000
      name  group   experiment group    7         8       sum
8  karthik      2   long explanation  0.0  0.654545  0.654545
5    arvin      2  short explanation  1.0  0.654545  1.654545
4  stanley      3  short explanation  1.0  1.000000  2.000000
9    nadir      2   long explanation  1.0  1.000000  2.000000

In [16]:
temp = df[(df['group'] == 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 9, 10]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 2) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 9, 10]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

      name  group   experiment group    9        10       sum
5    arvin      2  short explanation  1.0  0.845758  1.845758
8  karthik      2   long explanation  1.0  1.000000  2.000000
9    nadir      2   long explanation  1.0  1.000000  2.000000
       name  group   experiment group         9        10       sum
10   rustie      1   long explanation  0.000000  0.000000  0.000000
11     andy      1   long explanation  0.865429  1.000000  1.865429
2   kenneth      1  short explanation  1.000000  0.902314  1.902314
0    calvin      1  short explanation  1.000000  1.000000  2.000000
1   raymond      1  short explanation  1.000000  1.000000  2.000000
3       sam      1  short explanation  1.000000  1.000000  2.000000
4   stanley      3  short explanation  1.000000  1.000000  2.000000
6      hong      1  short explanation  1.000000  1.000000  2.000000
7    aayush      1   long explanation  1.000000  1.000000  2.000000
12    gokul      1   long explanation  1.000000  1.000000  2.000000

In [17]:
temp = df[(df['group'] == 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 11, 12]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(by=['sum']))
temp = df[(df['group'] != 3) & ((df['experiment group'] == 'short explanation') \
                                    | (df['experiment group'] == 'long explanation') )][['name', 'group', 'experiment group', 11, 12]]
temp['sum'] = temp.iloc[:, 3:].sum(axis = 1)
print(temp.sort_values(['sum']))

      name  group   experiment group   11   12  sum
4  stanley      3  short explanation  1.0  1.0  2.0
       name  group   experiment group        11        12       sum
3       sam      1  short explanation  0.640394  0.937644  1.578038
5     arvin      2  short explanation  0.640394  0.937644  1.578038
6      hong      1  short explanation  0.640394  0.937644  1.578038
11     andy      1   long explanation  0.847291  0.789838  1.637129
7    aayush      1   long explanation  0.640394  1.000000  1.640394
12    gokul      1   long explanation  0.640394  1.000000  1.640394
2   kenneth      1  short explanation  0.847291  0.838337  1.685628
10   rustie      1   long explanation  0.847291  0.937644  1.784935
0    calvin      1  short explanation  0.847291  1.000000  1.847291
1   raymond      1  short explanation  0.847291  1.000000  1.847291
8   karthik      2   long explanation  0.847291  1.000000  1.847291
9     nadir      2   long explanation  0.847291  1.000000  1.847291

In [18]:
group1 = df[['name', 'experiment group', 'initial score', 7, 8, 9, 10, 11, 12]]
group1['sum'] = group1.iloc[:, 3:].sum(axis = 1)
print(group1['sum'].values)
group1

[5.84729064 5.53293984 5.27359065 5.26368763 6.         5.07834224
 5.26368763 5.64039409 4.50183609 5.84729064 1.78493498 4.73063166
 5.32604329 5.93764434 5.01791178 5.09298391 5.32604329 5.47835991
 5.43525347 4.21684393 5.22835692 5.84729064]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,experiment group,initial score,7,8,9,10,11,12,sum
0,calvin,short explanation,0,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,5.847291
1,raymond,short explanation,258,0.685649,1.000000,1.000000,1.000000,0.847291,1.000000,5.532940
2,kenneth,short explanation,0,0.685649,1.000000,1.000000,0.902314,0.847291,0.838337,5.273591
3,sam,short explanation,97,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,5.263688
4,stanley,short explanation,88,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000
5,arvin,short explanation,222,1.000000,0.654545,1.000000,0.845758,0.640394,0.937644,5.078342
6,hong,short explanation,0,0.685649,1.000000,1.000000,1.000000,0.640394,0.937644,5.263688
7,aayush,long explanation,0,1.000000,1.000000,1.000000,1.000000,0.640394,1.000000,5.640394
8,karthik,long explanation,222,0.000000,0.654545,1.000000,1.000000,0.847291,1.000000,4.501836
9,nadir,long explanation,222,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,5.847291
10,rustie,long explanation,0,0.000000,0.000000,0.000000,0.000000,0.847291,0.937644,1.784935
11,andy,long explanation,0,0.685649,0.542424,0.865429,1.000000,0.847291,0.789838,4.730632
12,gokul,long explanation,0,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,5.326043
13,jonny,no explanation,0,1.000000,1.000000,1.000000,1.000000,1.000000,0.937644,5.937644
14,alex,no explanation,0,0.685649,0.542424,1.000000,1.000000,1.000000,0.789838,5.017912
15,ket,no explanation,222,0.685649,1.000000,1.000000,0.845758,0.561576,1.000000,5.092984
16,charlie,no explanation,119,0.685649,1.000000,1.000000,1.000000,0.640394,1.000000,5.326043
17,aakash,no explanation,139,0.478360,1.000000,1.000000,1.000000,1.000000,1.000000,5.478360
18,neel,no explanation,0,0.685649,1.000000,1.000000,0.902314,0.847291,1.000000,5.435253
19,kartik,no explanation,118,0.000000,1.000000,0.865429,1.000000,0.561576,0.789838,4.216844
20,sera,no explanation,222,0.685649,1.000000,1.000000,0.902314,0.640394,1.000000,5.228357
21,jinsu,no explanation,88,1.000000,1.000000,1.000000,1.000000,0.847291,1.000000,5.847291

In [22]:
groupE = df[(df['mistake type'] == CorrectionType.E)][['name', 'experiment group', 'initial score', 1, 2, 3, 4, 5, 6, 9, 10]]
groupE['sum'] = groupE.iloc[:, 3:].sum(axis = 1)

groupE

,name,experiment group,initial score,1,2,3,4,5,6,9,10,sum
5,arvin,short explanation,222,1.000000,1.000000,1.000000,1.000000,1.000000,0.92233,1.0,0.845758,7.768088
8,karthik,long explanation,222,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.0,1.000000,8.000000
9,nadir,long explanation,222,1.000000,0.898305,1.000000,0.535897,1.000000,1.00000,1.0,1.000000,7.434203
15,ket,no explanation,222,1.000000,1.000000,0.673684,1.000000,0.708738,1.00000,1.0,0.845758,7.228180
17,aakash,no explanation,139,1.000000,0.898305,1.000000,1.000000,0.708738,1.00000,1.0,1.000000,7.607043
20,sera,no explanation,222,0.768229,1.000000,1.000000,1.000000,1.000000,1.00000,1.0,0.902314,7.670543
21,jinsu,no explanation,88,1.000000,0.576271,1.000000,0.535897,0.708738,1.00000,1.0,1.000000,6.820906